<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <h1>Welcome , <%= username %></h1>
    <h1>Soon, you will be already playing here!</h1>
    <br>

    <div id="room-container">
        <% Object.keys(rooms).forEach(room => { %>
            <div><%= room %></div>
            <a href="/<%= room %>">Join</a>
        <% }); %> 

        <form action="/room" method="POST">
            <input name="room" type="text" required>
            <button type="submit">New Room</button>
        </form>
        <br><br><br>
    </div>
    <div id="mario-chat">
        <h2>Mario Chat</h2>
        <div id="chat-window">
            <div id="output"></div>
            <div id="feedback"> </div>
        </div>
        <input id="handle" type="hidden" value="<%= username %>"/>
        <input id="message" type="text" placeholder="Message" />
        <button id="send">Send</button>
    </div>
    <br><br><br><br><br><br>
    <form method="POST">
        <button type="submit">Logout</button>
        
          <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js" integrity="sha256-ijqLssetA1NMNjZ+w1zaUafQQLm4IW5OoM8O+4tatME=" crossorigin="anonymous"></script>
          <script>
              const socket = io.connect();
              var message = document.getElementById('message');
              var handle = document.getElementById('handle');
              var btn = document.getElementById('send');
              var output = document.getElementById('output');
              var feedback = document.getElementById('feedback');
              var chatWindow = document.getElementById('chat-window');
              var username = handle.value;

            //   sends data to server when send is clicked
                btn.addEventListener('click', function(event) {
                    if(message.value != 0){   
                        socket.emit('chat', {
                            message: message.value,
                            handle: handle.value
                        });
                    }
                   message.value = "";
                   message.focus();
                    chatWindow.scrollTop = chatWindow.scrollHeight;
                }); 

                // sends data to server when enter is pressed
                window.addEventListener("keypress", function(event){
                    if(event.keyCode == 13){
                        if(message.value != 0){   
                            socket.emit('chat', {
                                message: message.value,
                                handle: handle.value
                            });
                        }
                        message.value = "";
                        message.focus();
                        chatWindow.scrollTop = chatWindow.scrollHeight;
                    }
                });
                

                message.addEventListener('keypress', function(event){
                    if(event.keyCode != 13){
                        socket.emit('typing', handle.value);
                    }
                });

                socket.on('chat', function(data){
                   feedback.innerHTML = "";
                   output.innerHTML += '<p><strong>' + data.handle + ': </strong>' + data.message + '</p>'; 
                });

                socket.on('typing', function(data){
                        feedback.innerHTML = '<p><em>' + data + ' is typing a message...</em></p>';
                });

                socket.on('message', function(message){
                    feedback.innerHTML += '<p><em>'+ message + '</em></p>';
                });

                socket.emit('new-user', username);

                socket.on('user-connected', function(name) {
                    feedback.innerHTML += `<p><em>${name} has entered the chat </em></p`;
                });

                socket.on('user-disconnected', function(name){
                    feedback.innerHTML += `<p><em>${name} has left the chat </em></p`;
                });
                
          </script>  
        
    </form>
</body>
</html>
