<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/app.css">
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<body>
	<div class="game-bg">
		<img src="pics/bg.jpg">
	</div>
	<div class="game-logo">
		<img src="pics/love-letter-logo.png" alt="Love Letter Game">
	</div>
	<div class="game-modal" style="opacity: 0;">
		<div class="blur"></div>
		<div class="card">
			<img class="game-modal__logo" src="pics/love-letter-logo.png" alt="Love Letter Game">
			<div id="modal-welcome" class="game-modal__content active">
				<h2 class="game-modal__title">Welcome!</h2>
				<h3 class="game-modal__subtitle">Please enter your nickname</h3>
				<div class="game-modal__input-area" id="modal-username">
					<input type="text" name="nickname">
					<button>Enter</button>
				</div>
			</div>
			<div id="modal-menu" class="game-modal__content hidden">
				<h2 class="game-modal__title" id="modal-menu-welcome"></h2>
				<div class="game-modal__input-area">
					<button id="modal-menu-create" class="button" style="margin-right: 10px;">Create a game room</button>
					<button id="modal-menu-enter" class="button">Enter a game room</button>
				</div>
			</div>
			<div id="modal-create" class="game-modal__content hidden">
				<h2 class="game-modal__title">Create a game room</h2>
				<h3 class="game-modal__subtitle">How many players you want in the game?</h3>
				<div class="game-modal__input-area">
					<button id="modal-create-2" class="ltr">2</button>
					<button id="modal-create-3" class="no-radius">3</button>
					<button id="modal-create-4">4</button>
				</div>
			</div>
			<div id="modal-enter" class="game-modal__content hidden">
				<h2 class="game-modal__title">Enter a game room</h2>
				<h3 class="game-modal__subtitle">Enter the room code</h3>
				<div class="game-modal__input-area" id="modal-enter-code">
					<input type="text" name="nickname">
					<button>Enter</button>
				</div>
			</div>
			<div id="modal-error" class="game-modal__content hidden">
				<h2 class="game-modal__title">Something went wrong :(</h2>
				<h3 class="game-modal__subtitle">Server says</h3>
				<div class="game-modal__input-area flex-column" id="modal-error-message">
					<p></p>
					<button class="button">Reload</button>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="player-top">
			<div class="cards top">
				<div class="card">
					<% if (playerTop.card1) { %>
						<img src="pics/card-0.png">
					<% } %>
				</div>
				<div class="card">
					<% if (playerTop.card2) { %>
						<img src="pics/card-0.png">
					<% } %>
				</div>
			</div>
			<div class="board__user-info flipped">
				<h2 class="board__username"><%= playerTop.username %></h2>
				<div class="board__tokens">
					<% for (let i = 0; i < maxTokens; i++) { %>
						<% if (i < playerTop.tokens) { %>
							<img src="pics/token-filled.svg">
						<% } else { %>
							<img src="pics/token-unfilled.svg">
						<% } %>
					<% } %>
				</div>
			</div>
		</div>

		<% if (playerRight) { %>
			<div class="player-right">
				<div class="board__user-info rtl">
					<h2 class="board__username"><%= playerRight.username %></h2>
					<div class="board__tokens">
						<% for (let i = 0; i < maxTokens; i++) { %>
							<% if (i < playerRight.tokens) { %>
								<img src="pics/token-filled.svg">
							<% } else { %>
								<img src="pics/token-unfilled.svg">
							<% } %>
						<% } %>
					</div>s
				</div>
				<div class="cards right">
					<div class="card">
						<% if (playerRight.card2) { %>
							<img src="pics/card-0.png">
						<% } %>
					</div>
					<div class="card">
						<% if (playerRight.card2) { %>
							<img src="pics/card-0.png">
						<% } %>
					</div>
				</div>
			</div>
		<% } %>

		<div class="player-bottom">
			<div class="board__user-info">
				<h2 class="board__username"><%= playerBottom.username %></h2>
				<div class="board__tokens">
					<% for (let i = 0; i < maxTokens; i++) { %>
						<% if (i < playerBottom.tokens) { %>
							<img src="pics/token-filled.svg">
						<% } else { %>
							<img src="pics/token-unfilled.svg">
						<% } %>
					<% } %>
				</div>
			</div>
			<div class="cards bottom">
				<div class="card in-hand">
					<% if (playerBottom.card1) { %>
						<img src="pics/card-<%= playerBottom.card1 %>.png">
					<% } %>	
				</div>
				<div class="card in-hand">
					<% if (playerBottom.card2) { %>
						<img src="pics/card-<%= playerBottom.card2 %>.png">
					<% } %>	
				</div>
			</div>
		</div>

		<% if (playerLeft) { %>
			<div class="player-left">
				<div class="board__user-info ltr">
					<h2 class="board__username"><%= playerLeft.username %></h2>
					<div class="board__tokens">
						<% for (let i = 0; i < maxTokens; i++) { %>
							<% if (i < playerLeft.tokens) { %>
								<img src="pics/token-filled.svg">
							<% } else { %>
								<img src="pics/token-unfilled.svg">
							<% } %>
						<% } %>
					</div>s
				</div>
				<div class="cards left">
					<div class="card">
						<% if (playerLeft.card1) { %>
							<img src="pics/card-0.png">
						<% } %>
					</div>
					<div class="card">
						<% if (playerLeft.card2) { %>
							<img src="pics/card-0.png">
						<% } %>
					</div>
				</div>
			</div>
		<% } %>

		<div class="deck">
			<div class="deck-left">
				<% for (let i = 0; i < deck.cardsDismissed.length; i++) { %>
					<div class="card" style="z-index: <%= deck.cardsDismissed.length - i %>">
						<img src="pics/card-<%= deck.cardsDismissed[i] %>.png">
					</div>
				<% } %>
			</div>
			<div class="deck-center">
				<% for (let i = 0; i < deck.cardsInDeck; i++) { %>
					<div class="card" style="z-index: <%= i %>">
						<img src="pics/card-0.png">
					</div>
				<% } %>
			</div>
			<div class="deck-right">
				<% for (let i = 0; i < deck.cardsPlayed.length; i++) { %>
					<div class="card" style="z-index: <%= i %>">
						<img src="pics/card-<%= deck.cardsPlayed[i] %>.png">
					</div>
				<% } %>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="js/modal.js"></script>
</body>
</html>
